* {
    margin: 0 auto;
    text-align: center;

}

html {
    background-color: #B68CB8;
    color: white;

    font-size: 2em;
    font-family: 'Nunito', sans-serif;

}

ul {
    display: inline-block;
    list-style-type: none;
    background-color: #B68CB8;

}

li {
    display: inline;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #B68CB8;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #C9DDFF;
}

.active {
    background-color: #4CAF50;
}

ul {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
  
}

video {

    height: 60vh;
    padding-bottom: 100px;

}

img{width: 30vw;}